.st-emotion-cache-j5r0tf
{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;

}
.element-container st-emotion-cache-yhofwf
{
    color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
}
.class_benign
{
    background-color: green;
}
.class_malicious
{
    background-color: red;
}